name: Test Scripts

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test Scripts
    runs-on: ubuntu-latest
    container:
      image: node
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Node.js Environment
        uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc

      - name: Test
        run: make test
